body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0 auto;
}

.container {
  margin: 20px auto;
  box-sizing: border-box;
  padding: 70px;
  flex-flow: column;
  border: 8px dotted red;
  background-color: pink;
}

.container__link {
  display: block;
  text-align: center;
  font-size: 1.7rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.container__link:hover {
  color: red;
}
