.carousel {
  position: relative;
  height: 80vh;
  width: 65%;
  margin: 0 auto;
  padding: 20px;
}
.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__track-container {
  background: lavenderblush;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px rgba(81, 82, 71, 0.965);
}
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 250ms ease-in;
  height: 100%;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel__button img {
  width: 12px;
}
.carousel__button--left {
  left: -40px;
}
.carousel__button--right {
  right: -40px;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
  margin: 0 12px;
}
.carousel__nav {
  background: white;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  box-shadow: 2px 2px rgba(81, 82, 71, 0.965);
}
.carousel__indicator .current--slider {
  background: black;
}
.carousel__indicator:hover {
  background: gray;
  cursor: pointer;
}
